* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  background-image: url(images/background.png);
  /* background-size: contain; */
  background-color: #252b42;
  background-repeat: no-repeat;
  color: white;
}

h1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.2px;
}

h2 {
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 57px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.pad-top-bot-3 {
  padding: 3px 0;
}

.pad-10 {
  padding: 10px;
}

.flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#navbar {
  justify-content: space-between;
  padding: 16px;
}

#navbar .navbar-list {
  display: none;
  gap: 44px;
}

#navbar .navbar-list ul {
  display: flex;
  list-style-type: none;
  gap: 21px;
  align-items: center;
  padding: 0;
}

#navbar .navbar-list ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
}

#navbar .subscribe {
  display: none;
  gap: 12px;
}

#navbar .subscribe input {
  width: 273px;
  height: 54px;
  background: #efefef;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 39px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

#navbar .subscribe button {
  width: 141px;
  height: 54px;
  background: #ffffff;
  border-radius: 35px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ef2779;
}

#first-container {
  margin-bottom: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#first-container .text-content {
  margin: 80px 50px 0;
  gap: 10px;
}

#first-container .img-content {
  margin: 8px 0;
  width: 100%;
  max-width: 560px;
}

#browser {
  width: 100%;
  max-width: 560px;
}

#browser2 {
  display: none;
}

#first-container .trial-button {
  height: 65px;
  width: 236px;
  border-radius: 35px;
  border: none;
  color: #38a3f1;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 50px;
}

#second-container {
  margin-bottom: 30px;
  gap: 50px;
}

#second-container .text-content {
  margin: 80px 50px 0;
  gap: 7px;
  text-align: center;
}

#second-container .containers {
  margin: 0 74px 80px;
  gap: 75px;
  padding-bottom: 18px;
}

#second-container .items-container {
  margin: 18px 7.5px 0;
}

#second-container p {
  padding: 10px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

#third-container {
  margin: 30px 20px;
  gap: 59px;
}

#third-container .text-content {
  margin: 50px 30px 0;
  gap: 7px;
  text-align: center;
}

#third-container .trial-button {
  height: 65px;
  width: 236px;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: #38a3f1;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

#third-container .img-content {
  margin-bottom: 50px;
  width: 100%;
}

#third-container .img-content img {
  width: 100%;
  max-width: 1070px;
  min-width: 200px;
}

#fourth-container {
  margin: 110px 0 80px;
  gap: 59px;
}

#fourth-container .text-content {
  margin: 0 87px;
  gap: 7px;
  text-align: center;
}

#fourth-container .newsletter-content {
  padding: 10px;
  gap: 10px;
  margin: 0 22.5px;
}

#fourth-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

#fourth-container .mailing {
  padding: 24px 0;
  gap: 12px;
  margin: 0 10px 10px;
}

#fourth-container .email-input {
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  width: 353px;
  height: 54px;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

#fourth-container .mailing button {
  color: white;
  background: #ef2779;
  border: none;
  border-radius: 35px;
  width: 353px;
  height: 50px;
  padding: 17px 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

#fifth-container {
  margin: 0 20px;
  padding: 50px 20px;
  gap: 80px;
}

#fifth-container .text-content {
  gap: 7px;
  margin: 0 10px;
  text-align: center;
}

#fifth-container .items-container {
  margin: 0 50px;
  padding: 18px 0;
  text-align: center;
  gap: 30px;
}

#fifth-container .clients {
  text-align: center;
  gap: 15px;
}

#fifth-container img {
  margin: 0 58px;
}

#fifth-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 10px;
}

#fifth-container .trial-button {
  height: 65px;
  width: 236px;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: #38a3f1;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

#sixth-container {
  margin: 10px 28px 0;
  padding: 100px 0;
  gap: 80px;
}

#sixth-container .items-container {
  margin: 0 31px;
  padding: 15px 0;
  text-align: center;
  gap: 51px;
}

#sixth-container h4 {
  padding: 8.5px;
  font-size: 13.5256px;
  line-height: 17px;
  letter-spacing: 0.16907px;
}

#sixth-container .avatar-content {
  text-align: center;
  justify-content: center;
  gap: 10.99px;
}

#sixth-container .avatar-content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

#sixth-container h6 {
  font-size: 10.1442px;
  line-height: 15px;
  letter-spacing: 0.0845349px;
}

#sixth-container p {
  font-weight: 400;
  font-size: 12.6802px;
  line-height: 23px;
  letter-spacing: 0.16907px;
}

#sixth-container .trial-button {
  height: 65px;
  width: 280px;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: #38a3f1;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

#seventh-container {
  margin: 10px 28px 0;
  padding: 100px 0;
  gap: 80px;
}

#seventh-container .text-content {
  margin: 0 21px;
  text-align: center;
}

#seventh-container .items-container {
  margin: 0 12px;
  padding: 18px 0;
  gap: 50px;
}

#seventh-container .items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  width: 335px;
  height: 310px;
  color: #252b42;
}

#seventh-container .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#seventh-container .items h6 {
  color: #374754;
}

#seventh-container .items .price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

#seventh-container .price div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#seventh-container .items .trial-button {
  padding: 18px 38px;
  height: 52px;
  width: 255px;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: #38a3f1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

#seventh-container .items-colour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
  background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
  border: 1px solid #dedede;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  width: 335px;
  height: 310px;
  color: white;
}

#seventh-container .items-colour .price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

#seventh-container .items-colour .trial-button {
  padding: 18px 38px;
  height: 52px;
  width: 255px;
  border-radius: 35px;
  border: none;
  color: #ef2779;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

#eighth-container {
  background-color: #d6ebff;
}

#contact {
  margin: 0 30px;
  padding: 149px 0;
  gap: 50px;
  color: #252b42;
  min-width: 354px;
}

#eighth-container .text-content {
  margin: 0 20px;
  gap: 7px;
  text-align: center;
}

#eighth-container .social-content {
  gap: 24px;
}

#eighth-container .items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 18px 0;
  margin: 0 40px;
}

#eighth-container .items {
  gap: 10px;
}

#eighth-container .contact-form {
  gap: 45px;
  padding: 52px 49px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

#eighth-container .contact-form input {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  width: 100%;
  height: 54px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
}

#eighth-container .contact-form textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 23px 20px;
  width: 280px;
  height: 193px;
}

#eighth-container .contact-form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  border: none;
  width: 145px;
  height: 52px;
  background: #ef2779;
  border-radius: 35px;
  align-self: flex-start;
  color: white;
  cursor: pointer;
}

footer {
  margin: 126px 30px;
  gap: 55px;
}

footer .text-content {
  padding: 0;
  padding: 0px;
  gap: 15px;
  text-align: center;
}

footer .text-content ul {
  padding: 0;
  gap: 16px;
}

footer .text-content li {
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
}

footer iframe {
  width: 100%;
  height: 247px;
  border-radius: 22px;
}

footer .items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 0 40px;
}

footer .items {
  gap: 10px;
}

footer .social-content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 24px;
}

@media screen and (min-width: 992px) {
  #first-container {
    margin-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    height: 845px;
  }

  #first-container .text-content {
    margin: -60px -8% 0;
    gap: 10px;
    order: 2;
    width: 30%;
    align-items: flex-start;
  }

  #first-container .text-content h2 {
    text-align: left !important;
  }

  #first-container .img-content {
    margin: 8px 0;
    width: 70%;
    max-width: 982px;
    order: 1;
    height: 100%;
    max-height: 845px;
  }

  #browser {
    display: none;
  }

  #browser2 {
    display: block;
    width: 100%;
    max-width: 982px;
  }

  #first-container button {
    order: 3;
    margin-left: -8%;
  }
}

@media screen and (min-width: 1200px) {
  #navbar {
    padding: 0;
    margin: 0 40px;
    height: 156px;
  }

  #navbar .navbar-list {
    display: flex;
  }

  #sidebar {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-size: contain;
  }

  #navbar .subscribe {
    display: flex;
  }

  #first-container .img-content {
    max-width: none;

  }
}
